.app.dark {
	--bg-color: #1e1d1d;
	--inverted-bg-color: #d3d3d3;

	--primary-color: #dedddddf;
	--secondary-color: #b6b2b2;
	--inverted-primary-color: #000000;
	--inverted-secondary-color: #2d2d2d;
}
